body {
    font-family: Arial, sans-serif;
}

.login-btn {
    background-color: #003366;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 30px;
    width: 400px;
    border-radius: 10px;
    text-align: center;
}

.close {
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.social-icons{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.modal-socials-button{
    text-decoration: none;
}
.primary-btn {
    background-color: #003366;
    color: #FFFFFF;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.secondary-btn {
    background-color: #E0E0E0;
    color: #003366;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.modal-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #CCC;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox-group input {
    margin-right: 5px;
}