 .university-card {
     display: flex;
     flex-direction: column;
     background-color: #FFFFFF;
     border-radius: 15px;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
     padding: 20px;
     margin-bottom: 20px;
     align-items: flex-start;
 }

 .university-wrapper {
     display: flex;
     width: 100%;
     justify-content: space-between;
 }

 .university-inner {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     width: 80%;
 }

 .university-short-cut {
     display: flex;
     gap: 10px;
     margin-bottom: 20px;
 }

 .short-cut-wrapper {
     padding: 8px 16px;
     border-radius: 28px;
     background: #eff6ff;
     font-size: 14px;
     text-wrap: nowrap;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
 }

 .university-info {
     width: 60%;
 }

 .university-buttons {
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     gap: 10px;
     width: 30%;
     justify-content: flex-end;
 }

 .toggle-button {
     width: 30%;
     background-color: #003366;
     color: #FFFFFF;
     border: none;
     padding: 10px;
     cursor: pointer;
     border-radius: 5px;
 }

 .compare-btn, .detail-btn{
     text-decoration: none;
     border: 0;
     padding: 15px 0;
     font-size: 16px;
     border-radius: 12px;
     cursor: pointer;
     text-wrap: nowrap;
     width: 160px;
     height: 50px;
     background: #f0f3f6;
     color: #0f3159;
 }
 .compare-btn{
     background: #0f3159;
     color: #f0f3f6;
 }
 .faculty-list,
 .direction-list {
     background-color: #F9F9F9;
     margin-top: 10px;
     border-radius: 10px;
     display: none;
     width: 100%;
 }
.faculty-list{
    padding-bottom: 20px;
}
 .faculty-inner{
    display: flex;
    gap: 10px;
 }
 .btn-fc{
    height: 20px;
    width: 20px;
    background:  #ccc;
    color: black;
    align-self: center;
    padding: 0;
 }
.faculty-title{
    margin-left: 20px;
}
 ul{
    margin: 0;
 }